.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color-black);
    &1{
        font-size: 1.3rem;
        font-weight: 700;
        color:var(--color-granitine)
    }
    &2{
        font-size: 1rem;
        font-weight: 400;
    }
    &3{
        font-size: 1.5rem;
        font-weight: 600;
    }
    &4{
        font-size: 1.12rem;
        font-weight: 400;
    }
    &5{
        font-size: 1rem;
        font-weight: 300;
    }
    &6{
        font-size: 1.12rem;
        font-weight: 400;
        color:var(--color-granitine)
    }
    &7{
        font-size: 1rem;
        font-weight: 700;
    }
  
    
}