.FormularioLogin {
    .formulario {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .titulo {
        margin: 0;
        text-align: center;
    }

    .crearcontraseña {
        cursor: pointer;
        text-align: center;

        &:hover {
            color: var(--color--bern-red);
        }

    }


    .btntraki {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-content: center;

        a {
            display: block;
            width: 100%;
            text-decoration: none;
        }
        .btn{
            width: 100%;
        }
    }

    .Logo {
        display: flex;
        justify-content: center;

    }


}